{% extends "base.html" %}

{% block content %}

{% include "navbar.html" %}

<section class="error-wrap">
     <div class="container">
       <div class="error">
         <div class="shape"><div class="big-title"><h1>404</h1></div></div>
         <div class="title">
           <h1>Oops, The Page you requested <span class="light">is not found.</span></h1>
         </div>
         <div class="subtitle"><a href="/"><h2>Please Go Back</h2></a></div>
       </div>
     </div><!-- /.container -->
   </section>

{% endblock content %}
