<footer class="footer">
    <div class="container">
      <div class="col-md-4 col-sm-4 footer-row">
        <div class="title"><h4>About Our Band</h4></div>
        <div class="content">
          <div class="text">
            <p>Fusce sed nibh porttitor, scelerisque elit id, pretium justo. Integer venenatis tempus nisi non varius. Sed dui enim, lobortis et tempor.</p>
            <p>Fusce sed nibh porttitor, scelerisque elit id, pretium justo. Integer venenatis tempus nisi non varius. Sed dui enim, lobortis et tempor.</p>
          </div><!-- /.content -->
        </div><!-- /.text -->

        <div class="title"><h4>Keep Connected</h4></div>
        <p>Connect With Our Social Media.</p>
        <div class="content">
          <div class="socmed-wrap">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
            <a href="#"><i class="fa fa-soundcloud"></i></a>
          </div><!-- /.socmed-wrap -->
        </div><!-- /.content -->
      </div><!-- /.footer-row -->

      <div class="col-md-4 col-sm-4 footer-row">
        <div class="title"><h4>Events</h4></div>
        <div class="content">
          <ul class="upcoming-event">
            <li>
              <div class="col-md-1 col-sm-1 col-xs-1 date"><span class="number">20</span><br/>Oct</div>
              <div class="col-md-10 col-sm-10 col-xs-10 name">New Sound Wave - Camp Nou Stadium <br/> </div>
            </li>
            <li>
              <div class="col-md-1 col-sm-1 col-xs-1 date"><span class="number">21</span><br/>Sep</div>
              <div class="col-md-10 col-sm-10 col-xs-10 name">Glory Sound - Brigif Kujang 15 <br/> </div>
            </li>
            <li>
              <div class="col-md-1 col-sm-1 col-xs-1 date"><span class="number">10</span><br/>Nov</div>
              <div class="col-md-10 col-sm-10 col-xs-10 name">Bandung Berisik - Lanud Sulaeman <br/> </div>
            </li>
            <li>
              <div class="col-md-1 col-sm-1 col-xs-1 date"><span class="number">17</span><br/>Dec</div>
              <div class="col-md-10 col-sm-10 col-xs-10 name">Hammersonic - Gasibu Stadium<br/></div>
            </li>
          </ul><!-- /.upcoming-event -->
        </div><!-- /.content -->
      </div><!-- /.footer-row -->

      <div class="col-md-4 col-sm-4 footer-row">


        <div class="title"><h4>Tag cloud</h4></div>
        <div class="content">
          <div class="tag-wrap">
            <a href="#" class="tag">Music</a>
            <a href="#" class="tag">Band</a>
            <a href="#" class="tag">Rock</a>
            <a href="#" class="tag">Distortion</a>
            <a href="#" class="tag">Guitar</a>
            <a href="#" class="tag">Drum</a>
            <a href="#" class="tag">Bass</a>
            <a href="#" class="tag">Jukebox</a>
            <a href="#" class="tag">Hard</a>
            <a href="#" class="tag">Metal</a>
            <a href="#" class="tag">Hardcore</a>
            <a href="#" class="tag">Punk</a>
            <a href="#" class="tag">Scream</a>
            <a href="#" class="tag">Shout</a>
            <a href="#" class="tag">Progressive</a>
            <a href="#" class="tag">Fast</a>
            <a href="#" class="tag">Pop</a>
          </div><!-- /.tag-wrap -->
        </div><!-- /.content -->
      </div><!-- /.foooter-row -->
    </div><!-- /.container -->

  </footer><!-- /.footer -->
