{% load static %}



<script src="{% static 'assets/javascripts/bootstrap.min.js' %}"></script>
   <script src="{% static 'assets/javascripts/jplayer/jquery.jplayer.min.js' %}"></script>
   <script src="{% static 'assets/javascripts/jplayer/add-on/jplayer.playlist.min.js' %}"></script>
   <script src="{% static 'assets/javascripts/wow/wow.min.js' %}"></script>
   <script src="{% static 'assets/javascripts/modernizr.js' %}"></script>
   <script src="{% static 'assets/javascripts/jquery.hoverdir.js' %}"></script>
   <script src="{% static 'assets/javascripts/jquery.easing.js' %}"></script>
   <script src="{% static 'assets/javascripts/sly.min.js' %}"></script>
   <script src="{% static 'assets/javascripts/jquery.parallax-1.1.3.js' %}"></script>
   <script src="{% static 'assets/javascripts/owl.carousel/owl.carousel.min.js' %}"></script>
   <script src="{% static 'assets/javascripts/fancybox/jquery.fancybox.pack.js' %}"></script>
   <script src="{% static 'assets/javascripts/isotope.pkgd.min.js' %}"></script>
   <script src="{% static 'assets/javascripts/masonry.pkgd.min.js' %}"></script>

   <script type="text/javascript">
     //  Jplayer (Media Player) Banner Player Custom

     $("#jquery_jplayer_1").jPlayer({
       ready: function () {
         $(this).jPlayer("setMedia", {
           title: "{{track_home.title}}",
           mp3: "{{track_home.audio.url}}"
         });
       },
       swfPath: "jplayer",
       supplied: "mp3",
       wmode: "window",
       useStateClassSkin: true,
       autoBlur: false,
       smoothPlayBar: true,
       keyEnabled: true,
       remainingDuration: true,
       toggleDuration: true
     });

     //  Jplayer (Media Player) Discography Player Custom
     new jPlayerPlaylist({
       jPlayer: "#jquery_jplayer_2",
       cssSelectorAncestor: "#jp_container_2"
     }, [
     {% for track in tracks reversed %}
       {
         title:"{{track.title}}",
         mp3:"{{track.audio.url}}",

       },
       {% endfor %}

     ], {
       swfPath: "jplayer",
       supplied: "oga, mp3",
       wmode: "window",
       useStateClassSkin: true,
       autoBlur: false,
       smoothPlayBar: true,
       keyEnabled: true
     });
   </script>
   <!-- Jukebox javascript customs and settings -->
   <script src="{% static 'assets/javascripts/custom.js' %}"></script>
